


body {
    margin:0;
    font-family: "DM Sans", sans-serif;
   background-color:#fdf7e2;
}

html {
    margin:0;
}

h1 {
    color:rgb(10, 70, 14);
}



p {
    margin:2px;
}

.mobile {
    display:none;
}

.headerStylingWebsite {
    display:block;
    background-color:#FEF7E0;
    color:#000000;
    margin-bottom:2%;
}

.websiteDrop:hover .websiteDropContent {
    display:block;
}

.websiteDrop:hover {
    background-color:#d8d3c3;
}

.websiteDrop {
    width:180px;
}


.websiteDropContent {
    display:none;
    position:absolute;
    background-color:#d8d3c3;
    width:180px;
}

.websiteDropContent a {
  padding-left:10%;
}

/* VED IKKE OM DET HER SKAL BRUGES
 */
#navMoreWebsite {
    display:none;
    position:relative;
    top:2;
}

.headerStylingWebsite img{
    display:flex;
    margin:auto;
    margin-top:0.5%;
    margin-bottom:1%;
}

.navlist {
    display:flex;
    text-decoration: none;
    list-style: none;
    justify-content: center;
    margin-right:2%;
}

.website li {
    text-indent: 1rem;
    text-align: center;
   
}

a {
    text-decoration: none;
    color:black;


}


.entrySection {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.entryPoint img {
    transition:2s;
  
    width:100%;
    overflow:hidden;
}

.entryPoint {
    padding: 7% 7%;
}



.entryPoint img:hover {
    transform:scale(1.1);
}

.endPoints {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}



/* DEFINER EFTER HVILKEN KATEGORI DE ER I [KATEGORI FARVER ] */
#entryPic {
overflow:hidden;
border-radius: 5px;


border:solid #CB8580;
}

#entryPic2 {
    overflow:hidden;
    border-radius: 5px;

    
    border:solid purple;
    }

    
    #entryPic3 {
        overflow:hidden;
        border-radius: 5px;
        
        
        border:solid #F4D597;
        }

        
        #entryPic4 {
            overflow:hidden;
            border-radius: 5px;
           
            
            border:solid green;
            }
            
            #entryPic5 {
                overflow:hidden;
                border-radius: 5px;
              
                
                border:solid rgb(128, 0, 6);
                }

                #entryPic6 {
                    overflow:hidden;
                    border-radius: 5px;
                 
                    
                    border:solid rgb(255, 128, 0);
                    }
                    
                

/*  */

.koeb {
    display:block;
    padding-right:2%;
    text-align: right;

}

#purchase {
    font-size:1rem;
    padding-top:15px;
    margin:5px;
}

.topBanner {
    display:flex;
    flex-direction:row;
    justify-content: center;
    font-size:0.6rem;
    color:white;
    background-color:#7F706B;
    padding:0.5%;
}

.topBanner p {
    padding-right:1%;
    font-style: italic;
}

.highlighted {
    font-weight:bolder;
}

#navlist {
    display:block;
}

#forsideBillede {
    width:100%;
    height:500px;
    object-fit: cover;
}

.indhold {
    margin-top:7%;
    padding: 0 5%;
}

.produkttest {
    padding:0 8%;
}

.container {
    padding: 0 7%;
}

#kategoriList {
display:flex;
background-color:#e2dbc8;
padding: 0.5 7%;
}

#paddingCard {
    padding:2%;
}

.singleCard .kategoriUnderBillede {

 text-align:center;
    width:20%;
    background-color:#7b6d5b;
 margin-left:0.5%;
    margin-right:3%;
    border-radius:5px;
    font-weight: light;
    padding:0.5%;
    margin-top:0.5%;
    margin-left:2%;
}

.kategoriUnderBillede {
    text-align:center;
    width:80%;
    background-color:#7b6d5b;
 margin-left:0.5%;
    margin-right:3%;
    border-radius:5px;
    font-weight: light;
    padding:0.5%;
    margin-top:0.5%;
    }

    .kategoriUnderBillede a {
        color:white;
    }

#kategoriList2 {
    display:flex;
    background-color:#433737;
    color:white;
padding: 1% 7%;
    }

    .oko {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


    .card {
        margin-top:5%;
        width:80%;
        overflow:hidden;
        background-color: #F6EDCF;
        height:500px;
    }

    .singleCard {
        display:block;
        margin:auto;
        background-color:#f5edd2;
        margin-top:5%;
        width:100%;
        height:auto;
    }

  

    .singleCard h2 {
        font-size:2rem;
        margin-bottom:2%;
 
    }

    .singleCard img {
        object-fit: cover;
        height:500px;
    }

    .card h2 {
        padding-left:2%;
        font-size:1rem;
    }

    #author {
        padding:2%;
        font-size:1rem;
        padding-top:1%;
    
    }

    #cardImg {
        width:100%;
        height:300px;
        object-fit: cover;
    }

    #singleCardImg {
        width:100%;
    height:45vh;
    object-fit: cover;
    width:100%;
    }

 #relatedBlogH2 {
    font-size:2rem;
    padding-left:2%;
margin-top:2%;
 }

    .billedeTekst {
        padding:0%;
        padding-bottom:2%;
        padding-left:2%;
    
    }

    .socialsBlogs {
        display:block;
        margin:auto;
        justify-content: center;
        text-align: center;
    }
    

    #socialsBlogsIcon {
        padding-top:1%;
        font-size:40px;
    }

    #introTekst {
        margin-bottom:5%;
        text-align:center;
    }

    video {
        width:100%;
    }


    /* Image Slider */

    .wrapper .carousel {
        white-space: nowrap;
        cursor:pointer;
        overflow:hidden;
    }

    .wrapper {
        max-width:1200px;
    }

    .carousel img {
        height:400px;
        object-fit:cover;
        margin-left:14px;
        width:calc(100% / 3);
    }

    .carousel img:first-child() {
        margin-left:0px;
    }


    .desktopFooter {
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    


    #mobileLinks a{
        display:block;
        
    }



    #mobileLinks h2 {
        margin-bottom:3%;
    }

    #mobileContact a {
        display:block;
    }

    #mobileContact h2 {
        margin-bottom:3%;
    }

    #mobileOpening a {
        display:block;
    }


    #mobileOpening h2 {
        margin-bottom:3%;
    }
    

   
    footer {
        background-color: #ECCAA1;
        padding:5% 7%;
        font-family:'Poppins';
   margin-top:10%;
   align-items: center;
    }

    #footerLogo {
        display:block;
        width:10%;
        margin:auto;
    }


    .bgContainer {

        background-color:#F6EDCF;
        padding-top:1%;
        padding-bottom:5%;
    }

    .bgContainer2 {
        display:grid;
        grid-template-columns: 1fr 1fr;
        background-color:#DEC6A7;
        padding:0 5%;
        padding-top:3%;
        padding-bottom:3%;
    
    }

    .risterietKvalitetskaffe {
        background-color: #ECE4CA;
        padding:0 5%;
        padding-top:5%;
        padding-bottom:5%;
    }

    #ansvarlighedTxt {
      width:80ch;
    }

    #risterietTxt {
        width:80ch;
    }

    #kategoriBanner button {
       background-color:#433737;
        color:white;
        border-radius:5px;
        border:none;
      padding:2%;
    
      margin:1%;
      font-weight: bolder;
    width:200px;
    cursor:pointer;
    }

    #kategoriBanner {
        display: flex;
        flex-direction: row;
        grid-template-columns: 1fr;
        background-color: #433737;
        
        padding:2%;
    }


/* Alt stying med WooCommerce */

.woocommerce ul.products li.product .button {

    color:white;
    background-color:#7F706B;
    width:90%;
}

h2,
.woocommerce-loop-product__title,
.woocommerce-loop-category__title {
    padding: 0.20em 0;
    margin: 0;
    font-size: 1rem;
    color:black;
    width:100%;
    height:3%;
}

.woocommerce img {
    border-radius:15px;
   
    object-fit: cover;
}

.woocommerce-loop-product__title {
    font-size:1rem;
}

.woocommerce-loop-product__title {
    font-size:1rem;
}

.woocommerce ul.products li.product .button {

    color:white;
    background-color:#7F706B;
    width:80%;
}

h2,
.woocommerce-loop-product__title,
.woocommerce-loop-category__title {
    padding: 0.20em 0;
    margin: 0;
    font-size: 0.85rem;
width:100%;
height:3%;
    color:black;
}


.woocommerce img {
    border-radius:15px;
    height:50px;
    object-fit: cover;
}

.woocommerce-products-header__title {
    text-align: center;
}

#kaffeBeskrivelse {
    text-align: center;
    margin-bottom:5%;
}



.woocommerce-ordering {
    margin-top:2%;
}

.orderby {
    background-color:#fdf7e2;
    width:20%;
    height:5%;
    border: solid 2px;
    font-family:'Poppins';
  
   
}



.woocommerce ul.products li.product a img {
   height:300px;
   width:30%;
}

.woocommerce-product-gallery__wrapper img {
object-fit:cover;
height:50%;
border:solid 4px #C35047;
width:98%;
margin-top:2%;
}


.singleProductStyle {
    background-color: #cd918d;
}




.singleProductStyle h1 {
    color:black;
    text-align: center;
}

.woocommerce span.onsale {
    z-index:0;
}

/* FJERN ANMELDELSER */

.tabs {
    display:none;
}

.woocommerce-Reviews-title {
    display:none;
}

#respond {
    display:none;
}

.woocommerce-noreviews {
    display:none;
}
