/**
 * woocommerce-smallscreen.scss
 * Optimises the default WooCommerce frontend layout when viewed on smaller screens.
 */

/**
 * Imports
 */
 @import 'mixins';
 @import 'variables';
 

@media only screen and (max-width:390px) {

    

        
    
    .headerStylingWebsite {
        display:none;
        
    }

    .mobile {
        display:block;
        position:sticky;
        top:0;
        z-index:1;
    }

    .headerStylingMobile {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        background-color:#fdf7e2;
        padding:3%;
       
    }

 .icon {
    margin-top:2.5%;
  }


    .logo {
        color:black;
    }

    #logo {
        width:50%;
        padding-left:25%;
    }


    footer {
        background-color: #ECCAA1;
        padding:5% 7%;
        margin-top:10%;
        font-family:'Poppins';
    }

    #footerLogo {
        display:block;
        width:50%;
        margin:auto;
    }

  

.topBanner {
    display:flex;
    font-size:0.5rem;
    padding:2%;
}

.topBanner p {
    padding-left:3%;
}

.fa-bars {
    color:rgb(255, 255, 255);
    padding-right:1rem;
}

#navlist  {
    display:none;
    position:absolute;
    width:100%;
    background-color:#f5edd2;
  
   animation: overlay 2s;

}

a {
    list-style: none;
}

#navlist a, i {
    animation: overlayText 2s;
}

@keyframes overlayText {
    0%  {
        opacity:0%;
    }
   
    100% {
        opacity:100%
    }
}


@keyframes overlay {
    0%  {
        height:0vh;
    }
   
    100% {
       height:100vh;
    }
}




#iconsToNavlist {
    display:flex;
    flex-direction: row;
    font-size:40px;
    justify-content: space-evenly;
    padding:5%;
    margin-top:10%;
}


#navlist a {
    display:block;
  text-decoration: none;
  color:black;
 padding:5%;
  font-size:1.5rem;
}

#exitMobile {
    display:block;
    padding:3%;
    transition:2s;
}



.container {
    padding: 0 5%;
    margin-top:5%;
}


#exitIcon {
    color:black;
    font-size:1.2rem;
    padding-left:91%;
    margin-top:2.5%;
}

#menuIkon {
    color:black;
    font-size:20px;
   
}


.cards img {
    width:100%;
    max-width:390px;
    overflow:hidden;
}



.kategori {
text-align:center;
width:30%;
background-color:#7b6d5b;
margin-left:3%;
margin-right:3%;
border-radius:5px;
color:white;
font-weight: light;
padding:0.5%;
margin-top:1%;
}


#kategoriList {
    display:flex;
}

.billedeTekst {
    padding:3%;
   
}

#mobileLinks {
    margin-bottom:5%;
    margin-top:5%;
}

#mobileOpening {
    margin-bottom:5%;
    margin-top:5%;
}

#mobileContact {
    margin-bottom:5%;
    margin-top:5%;
}

#mobileContact p {
    font-size:normal;
}

footer a {
    display:block;
   font-weight:bolder;

}

.card {
    display:block;
    margin:auto;
    background-color:#f5edd2;
    margin-top:5%;
    width:100%;
}

#cardImg {
width:100%;
}

.carousel img {
    width:calc(100% / 2);
}

.entrySection {
    display:block;
}

.entryPoint h2 {
    font-weight:bolder;
    margin-bottom:2%;
    font-size:1.2rem;
    text-align: center;
}

.entryPoint {
    padding:1%;
    margin-bottom:5%;
}

.endPoints {
   display:grid;
   grid-template-columns: 1fr 1fr;
}

.endPoints h2 {
    text-align:left;
    margin-bottom:10%;
    font-size:0.85rem;
}

/* Alt med wocommerce */

.columns-4  {
    display:block;
}

.oko {
    display:block;
margin:auto;
}

video {
    width:100%;
}

.woocommerce-loop-product__title {
    font-size:1rem;
}

.woocommerce ul.products li.product .button {

    color:white;
    background-color:#7F706B;
    width:80%;
}

h2,
.woocommerce-loop-product__title,
.woocommerce-loop-category__title {
    padding: 0.20em 0;
    margin: 0;
    font-size: 0.85rem;
width:100%;
height:3%;
    color:black;
}


.woocommerce img {
    border-radius:15px;
    height:50px;
    object-fit: cover;
}

.woocommerce-products-header__title {
    text-align: center;
}

#kaffeBeskrivelse {
    text-align: center;
    margin-bottom:5%;
}



.woocommerce-ordering {
    margin-top:2%;
}

.orderby {
    background-color:#fdf7e2;
    width:100%;
    height:5%;
    border: solid 2px;
    font-family:'Poppins';
    padding:2%;
}


.woocommerce ul.products li.product a img {
    height:20%;
}



}