

@media only screen and (max-width:390px) {

    

        
    
    .headerStylingWebsite {
        display:none;
        
    }


    li {
        width:auto;
    }
    .mobile {
        display:block;
        position:sticky;
        top:0;
        z-index:1;
    }

    .headerStylingMobile {
display:flex;
justify-content: center;
align-items: center;
    }



    .headerStylingMobile img {
        width:50%;
    }

.logo img {
    display:block;
    margin:auto;
}

   #menuIkon {
        position:absolute;
        right:2%;
        top:25%;
        margin-left:auto;
        margin-top:1.5%;
     }


 

     .desktopFooter {
        display:block;
     }
 


    footer {
        background-color: #ECCAA1;
        padding:5% 7%;
        margin-top:10%;
        font-family:'Poppins';
    }

    #footerLogo {
        display:block;
        width:50%;
        margin:auto;
    }

  

.topBanner {
    display:flex;
    font-size:0.5rem;
    padding:2%;
}

.topBanner p {
    padding-left:3%;
}

.fa-bars {
    color:rgb(255, 255, 255);
    padding-right:1rem;
}

#navlist  {
    display:none;
    position:absolute;
    width:100%;
    background-color:#f5edd2;
   animation: overlay 1s;
    height:80vh;
}



a {
    list-style: none;
}

#navlist a, #navlist li, i {
    animation: overlayText 1s;
}

@keyframes overlayText {
    0%  {
        opacity:0%;
    }
   
    100% {
        opacity:100%;
    }
}


@keyframes overlay {
    0%  {
        height:0vh;
    }
   
    100% {
       height:80vh;
    }
}




#iconsToNavlist {
    display:flex;
    flex-direction: row;
    font-size:40px;
    justify-content: space-evenly;
    padding:5%;
    margin-top:10%;
}


#navlist a {
    display:block;
  text-decoration: none;
  color:black;
 padding:5%;
  font-size:1.5rem;
 margin:auto;
}


#navlist li {
    display:block;
  text-decoration: none;
  color:black;
 padding:5%;
  font-size:1.5rem;
}

#exitMobile {
    display:block;
    padding:3%;
    transition:2s;
}

#menu {
    display:flex;
    justify-content: center;
}

#leftIcon {
    display:flex;
    float:left;
    margin-left:10%;
    margin-right:5%;
    font-size:20px;
}

#menuIcon {
    margin-top:7%;
    font-size:20px;
}

#menuIcon2 {
    margin-top:7%;
    font-size:20px;
}

#kaffeshop {
    padding-top:5%;
    top:0;
    position:absolute;
    display:none;
    width:100%;
    height:100%;
    background-color:#f5edd2;
}

#kaffeshop a {
    display:block;
    text-decoration: none;
    color:black;
   padding:5%;
    font-size:1.5rem;
}

#kurser {
    padding-top:5%;
    top:0;
    position:absolute;
    display:none;
    width:100%;
    height:100%;
    background-color:#f5edd2;
}

#kaffeudstyr {
    padding-top:5%;
    top:0;
    position:absolute;
    display:none;
    width:100%;
    height:100%;
    background-color:#f5edd2;
}

#kaffeudstyr a {
    display:block;
    text-decoration: none;
    color:black;
   padding:5%;
    font-size:1.5rem;
}

#kurser a {
    display:block;
    text-decoration: none;
    color:black;
   padding:5%;
    font-size:1.5rem;
}

#omos {
    padding-top:5%;
    top:0;
    position:absolute;
    display:none;
    width:100%;
    height:100%;
    background-color:#f5edd2;
}

#omos a {
    display:block;
    text-decoration: none;
    color:black;
   padding:5%;
    font-size:1.5rem;
}

#erhverv {
    padding-top:5%;
    top:0;
    position:absolute;
    display:none;
    width:100%;
    height:100%;
    background-color:#f5edd2;
}

#erhverv a {
    display:block;
    text-decoration: none;
    color:black;
   padding:5%;
    font-size:1.5rem;
}

#moreMobileNAV {
    margin-top:6%;
}

#moreMobileNAV a {
    width:100%;
}


.container {
    padding: 0 5%;
    margin-top:5%;
}


#exitIcon {
    color:black;
    font-size:1.2rem;
    padding-left:91%;
    margin-top:2.5%;
}

#menuIkon {
    color:black;
    font-size:20px;
   
}


.cards img {
    width:100%;
    max-width:390px;
    overflow:hidden;
}


#kategoriBanner button {
    background-color:white;
    color:black;
    border-radius:5px;
    border:none;
  padding:3%;
  font-size:10px;
  margin:1%;
  font-weight: bolder;
  width:90%;
  height:90%;
}

#kategoriBanner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #433737;
    
    padding:4%;
}




.billedeTekst {
    padding:0%;
   width:100%;
}


.billedeTekst a {
    font-weight:bolder;
    padding:1%;
}

.billedeTekst p {
    margin-bottom:5%;
}

#mobileLinks {
    margin-bottom:5%;
    margin-top:5%;
}

#mobileOpening {
    margin-bottom:5%;
    margin-top:5%;
}

#mobileContact {
    margin-bottom:5%;
    margin-top:5%;
}

#mobileContact p {
    font-size:normal;
}

footer a {
    display:block;
   font-weight:bolder;

}

#paddingCard {
    padding:2%;
}
.card {
    display:block;
    margin:auto;
    background-color:#f5edd2;
    margin-top:5%;
    width:100%;
    height:auto;
}

#relatedBlogH2 {
    font-size:1rem;
    padding-left:2%;
margin-top:1%;
 }

 .relatedBlogs {
    display:block;
}

.relatedBlogs .singleCard {
    width: 100%;
    margin:0%;
    margin-top:2%;
}


.singleCard .kategoriUnderBillede {
    text-align:center;
    width:80%;
    background-color:#7b6d5b;
 margin-left:0.5%;
    margin-right:3%;
    border-radius:5px;
    font-weight: light;
    padding:0.5%;
    margin-top:0.5%;
    margin-left:2%;
}

.singleCard {
    display:block;
    margin:auto;
    background-color:#f5edd2;
    margin-top:5%;
    width:100%;
    height:auto;
}

.singleCard h2 {
    font-size:1rem;
    margin-top:1%;
    margin-bottom:0%;
}

.card h2 {
    padding-left:3%;
}

#cardImg {
        width:100%;
       
        margin:0%;
        object-fit:cover;
    
}

#singleCardImg {
    width:100%;
height:25vh;
object-fit: cover;
margin-left:0%;
}

.carousel img {
    width:calc(100% / 2);
}

.entrySection {
    display:block;
}

.entryPoint h2 {
    font-weight:bolder;
    margin-bottom:2%;
    font-size:1.2rem;
    text-align: center;
}

#author {
    padding:2%;
    font-size:0.7rem;
    padding-top:0%;
    padding-left:1%;
}

.kategoriUnderBillede {
    text-align:center;
    width:80%;
    background-color:#7b6d5b;
 margin-left:2%;
    margin-right:3%;
    border-radius:5px;
    font-weight: light;
    padding:0.5%;
    margin-top:1%;
    }

.bgContainer {

    background-color:#F6EDCF;
    padding-top:1%;
    padding-bottom:5%;
}

.bgContainer2 {
    display:grid;
    grid-template-columns: 1fr 1fr;
    background-color:#DEC6A7;
    padding:0 5%;
    padding-top:3%;
    padding-bottom:3%;

}

.entryPoint {
    padding:1%;
    margin-bottom:5%;
}

.endPoints {
   display:grid;
   grid-template-columns: 1fr 1fr;
}

.endPoints h2 {
    text-align:left;
    margin-bottom:10%;
    font-size:0.85rem;
}

    /* Image Slider */

    .wrapper .carousel {
        white-space: nowrap;
        cursor:pointer;
        overflow:hidden;
    }

    .wrapper {
        max-width:1200px;
    }

    .carousel img {
        height:400px;
        object-fit:cover;
        margin-left:14px;
        width:calc(100% / 3);
    }

    .carousel img:first-child() {
        margin-left:0px;
    }

    .socialsBlogs {
        padding:5%;
        text-align: center;
        
    }

    #socialsBlogsIcon {
        padding-top:4%;
        font-size:3rem;
    }

    #kursusKnap {
        display:flex;
        justify-content: center;
    }

.valgMuligheder {
    background-color: #7E6D58;
    color:white;
    width:60%;
    padding:3%;
    font-family:"DM Sans", sans-serif;
    border:none;
    border-radius:5px;
}

.kontaktKnap{
    background-color: #7F706B;
    color:white;
    width:60%;
    padding:3%;
    font-family:"DM Sans", sans-serif;
    border:none;
    border-radius:5px;
}


.afholdelse {
    padding-bottom:2%;
    padding-top:2%;
}

.udstyr {
    padding-bottom:2%;
    padding-top:2%;
}

#kaffeabonnementTxt {
    padding-left:2%;
    font-size:1rem;
}

#kaffeabonnementTxt button {
   margin-top:5%;
   width:90%;
   padding:7%;
}

#kaffeabonnementTxt h1 {
    font-size:1rem;
    color:black;
}

#kaffeabonnementPic {
    width:90%;
    border-radius:5px;
    padding-top:10%;
    padding-left:5%;
    
}

#kaffeabonnementPris {
    width:100%;
    margin-top:0%;
    margin-left:0%;
}

#kaffeabonnementPris p {
    margin:0;
}

.kaffeabonnementInformation {
    padding-top:5%;
    padding-bottom:5%;
    width:100%;
}

#kaffeabonnementValg select {
    width:100%;
    height:5%;
    padding:2%;
    border-radius:5px;
    background-color: #CACACA;
    font-family: "DM Sans", sans-serif;
}

#kaffeabonnementValg button {
    display:block;
    margin:auto;
    margin-top:10%;
}

.beskrivelse {
    display:none;
    width:100%;
    text-align: left;
    background-color: #d7c5ae;
    border:none;
    font-family: "DM Sans", sans-serif;
  
}

#manedskaffe {
    padding:2%;
    padding-left:3%;
}

#obs {
    margin-top:3%;
}

#friskristet {
    margin-top:2%;
    padding:2%;
    padding-left:3%;
}

.risterietKvalitetskaffe {
    background-color: #ECE4CA;
    padding:0 5%;
    padding-top:5%;
    padding-bottom:5%;
}
.beskrivelse h3 {
    margin:0;
}

.kaffeabonnementAc {
    width:100%;
    height:5%;
    text-align: left;
    padding-left:5%;
    margin-top:5%;
    background-color: #d7c5ae;
    border:none;
    font-family: "DM Sans", sans-serif;
}



.kaffeabonnementAc:after {
    content: '\02795'; 
  font-size: 13px;
  float: right;
  margin-left: 5px;
  color:red;
}



.active:after {
    content: "\2796";
  
}

#risterietImg {
    width:100%;
}

#risterietTxt {
    margin-top:5%;
    margin-bottom:8%;
    width:100%;
}



#ansvarlighedTxt {
    margin-top:5%;
    margin-bottom:8%;
    width:100%;
}

#firmaeventsImg {
    width:100%;
    object-fit:fill;
}

#firmaeventsTxt button {
    display:block;
    margin:auto;
    margin-top:5%;
}

#gaveDesign img {
    height:200px;
    object-fit: cover;
    border-radius:2px;
}

#gaveDesign .product {
    background-color:#F4E7C6;
}

#gaveDesign .woocommerce-loop-product__title {
    margin:2%;
}

#gaveDesign .woocommerce-Price-amount {
    margin:2%;
}

#gaveDesign .button {
    display:none;
}

#medarbejder {
    margin-top:5%;
    margin-bottom:5%;
}




/* Alt med wocommerce */

.columns-4  {
    display:block;
}

.oko {
    display:block;
margin:auto;
}

.oko h2 {
padding-left:1%;
padding-top:2%;
padding-bottom:0%;
}

.oko p {
    padding-left:1%;
    padding-top:1%;
    padding-bottom:0%;   
}

video {
    width:100%;
}

.woocommerce-loop-product__title {
    font-size:1rem;
}

.woocommerce ul.products li.product .button {

    color:white;
    background-color:#7F706B;
    width:80%;
}

h2,
.woocommerce-loop-product__title,
.woocommerce-loop-category__title {
    padding: 0.20em 0;
    margin: 0;
    font-size: 0.85rem;
width:100%;
height:3%;
    color:black;
}


.woocommerce img {
    border-radius:15px;
    height:50px;
    object-fit: cover;
}

.woocommerce-products-header__title {
    text-align: center;
}

#kaffeBeskrivelse {
    text-align: center;
    margin-bottom:5%;
    width:100%;
}



.woocommerce-ordering {
    margin-top:2%;
}



.orderby {
    background-color:#fdf7e2;
    width:100%;
    height:5%;
    border: solid 2px;
    font-family:'Poppins';
    padding:2%;
}

#aaben {
    margin-top:5%;
}

#aaben p {
    
    margin-bottom:2%;
    width:100%;
}

#kontaktTLF {
   margin-top:2%;
   margin-bottom:2%;
}

#aaben h2 {
    font-size:1rem;
    margin-top:10%;
    margin-bottom:1%;
}

#kontaktOs h1 {
    margin-bottom:0.2%;
}

.woocommerce ul.products li.product a img {
    height:20%;
}

.woocommerce-product-gallery__wrapper img {
object-fit:cover;
height:50%;
border:solid 4px #C35047;
width:98%;
margin-top:2%;
}

.singleProductStyle {
    background-color: #cd918d;
}




.singleProductStyle h1 {
    color:black;
    text-align: center;
}

.woocommerce span.onsale {
    z-index:0;
}

/* FJERN ANMELDELSER */

.tabs {
    display:none;
}

.woocommerce-Reviews-title {
    display:none;
}

#respond {
    display:none;
}

.woocommerce-noreviews {
    display:none;
}



/* SKALERBARHED DESKTOP */



#desktopRisteriet {
    display:none;
}

#mobileRisteriet {
    display:block;
}

#mobilKaffeabonnement {
    display:block;
}

#desktopKaffeabonnement {
    display:none;
}

#mobilKurser {
    display:block;
}

#desktopKurser {
    display:none;
}

#kontaktMobil {
    display:block;
}

#kontaktDesktop {
    display:none;
}
}